<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h2>新規投稿</h2>

      <%= render 'form2', post: @post %>


      <%= link_to 'Back', posts_path, class:'btn btn-primary' %>
    </div>
  </div>
</div>
